<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div>
            <a class="ng-title-icon" href="http://angular.io" target="blank">
                <i></i>
            </a>
            <span class="title">Twitch Heroes</span>
            <span></span>
            <a mat-button [routerLink]="['/home']" routerLinkActive="router-link-active">
                <span>Home</span>
            </a>
            <a mat-button [routerLink]="['/heroes']" routerLinkActive="router-link-active">
                <span>Heroes</span>
            </a>
            <a href="http://twitter.com/john_papa" target="blank" class="avatar avatar-2">
                <i></i>
            </a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>